.report-form-container {
    width: 95%;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.report-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    gap: 5px;
    align-items: start;
}

.form-group {
    text-align: center;

}

.input-box {
    width: 115px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
    text-align: center;
}

/* .................................................... */
.form-group-select {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.input-box-select {
    width: 145px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
    text-align: center;
    margin-left: 17px;
    margin-top: 4px;
}


.export-btn {
    height: 32px;
    /* margin-left: 320px; */
    width: 116px;
    margin-top: 25px;
    /* margin-top: 135px; */
    background-color: #282855;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.export-btn:hover {
    background-color: #adadaf;
}

.view-btn {
    height: 32px;
    /* margin-left: 320px; */
    width: 116px;
    margin-top: 25px;
    background-color: #282855;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.view-btn:hover {
    background-color: #adadaf;
}

/* //////////////////////////////////////////////////// */

.report-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.report-table th,
.report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.report-table th {
    background-color: #f2f2f2;
}